<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
  <link rel="stylesheet" href="lib/style.css">
  <title>Berkah Salesman Report</title>
</head>
<body>
  <div id="app">
     <div class="container">
        <h1>LAPORAN KUNJUNGAN TOKO SALESMAN PT. BERKAH</h1>
        <form name="sales-report-form" @submit="submitForm($event)" method="post" action="">
           
            <label for="fullName">Nama Sales</label>
            <select v-model="fullName" id="fullName" name="Sales Name">
                <option v-for="name in names" :value="name.text">{{name.text}}</option>                      
            </select>

            <label for="nrp">NRP</label>
            <select v-model="nrp" id="nrp" name="NRP">
                <option v-for="nrp in nrps" :value="nrp.text">{{nrp.text}}</option>                      
            </select>
            <label for="area">Area Kerja</label>
            <select v-model="area" id="area" name="Area">
                <option v-for="area in areas" :value="area.text">{{area.text}}</option>                      
            </select>

            <label for="toko">Nama Toko yang Dikunjungi</label>
            <select v-model="toko" id="toko" name="Nama Toko">
                <option v-for="toko in stores" :value="toko.text">{{toko.text}}</option>                      
            </select>

            <label for="collection">Jumlah Setoran Tagihan</label>
            <input type="text" v-model="collection" id="collection" name="Jumlah Tagihan" placeholder="Isi Tanpa Titik dan Koma.." >


            <label></label>
            <input type="submit" value="Submit Laporan">
            <input type="button" value="Clear Form" onclick="javascript:eraseText();">
                       
        </form>
      </div>
    </div>


  <script>
    var vm = new Vue({
    el: '#app',
    data: {
        names: [
          { text: 'Andi Hidayat', value: '01' },
          { text: 'Hendra Kamajaya', value: '02' },
          { text: 'Chocky Bolemeyer', value: '03' },
          { text: 'Steven Abraham', value: '04' },
          { text: 'Muhammad Fatih', value: '05' },
        ],
        nrps: [
          { text: '0011223344', value: '01' },
          { text: '0011223345', value: '02' },
          { text: '0011223346', value: '03' },
          { text: '0011223347', value: '04' },
          { text: '0011223348', value: '05' },
        ],
        areas: [
          { text: 'Jakarta Timur', value: '01' },
          { text: 'Bekasi Barat', value: '02' },
          { text: 'Bekasi Timur', value: '03' },
          { text: 'Cibitung', value: '04' },
          { text: 'Cikarang', value: '05' },
        ],
       stores: [
          { text: 'Toko 1', value: '01' },
          { text: 'Toko 2', value: '02' },
          { text: 'Toko 3', value: '03' },
          { text: 'Toko 4', value: '04' },
          { text: 'Toko 5', value: '05' },
          { text: 'Toko 6', value: '06' },
          { text: 'Toko 7', value: '07' },
          { text: 'Toko 8', value: '08' },
          { text: 'Toko 9', value: '09' },
          { text: 'Toko 10', value: '10' },
        ],
        collection: ''
        
    },
    methods: {
        submitForm(event){
            let error = 0
              if(this.fullName.length === 0){
                  error++
                  alert('Pilih Nama Sales!')
              }
            
              else if(this.nrp.length === 0){
                  error++
                  alert('Pilih NRP')
              }
              else if(this.area.length === 0){
                  error++
                  alert('Pilih 1 area kerja!')
              }
              else if(this.toko.length === 0){
                  error++
                  alert('Pilih 1 Nama Toko!')
              }
              else if(this.collection.length < 1){
                  error++
                  alert('Nilai Tagihan belum diinput!')
              }
              if( errors === 0 ){
                  alert('Terima kasih telah mengisi data dengan benar!')
              }
              event.preventDefault()

          },
        
        }
    })
  </script>
  <script type="text/javascript">
      function eraseText() {
            document.getElementById("fullName").value = "";
            document.getElementById("nrp").value = "";
            document.getElementById("area").value = "";
            document.getElementById("toko").value = "";
            document.getElementById("collection").value = "";
          }
  </script>
  <script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbwLBmbJH4Ize71T708FPvfqw6Y6OrQvHDhzTUQE7ry_ZJvyuDxULU5PZqya987Z9nz4cA/exec'
  const form = document.forms['sales-report-form']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => console.log('Success!', response))
      .catch(error => console.error('Error!', error.message))
  })
  </script>
  
</body>
</html>